/******* MOBILE BASE STYLES *******/

html {
  font-size: 16px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  background-color: #1f202b;
  font-size: 1em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
/*  width: 100%;*/
  flex-flow: row wrap;
}

.content-wrapper {
  /*width: 90%;*/
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
}

h3 {
  font-size: 2.25em;
  font-weight: normal;
}

p {
  font-weight: normal;
  font-size: 1.75em;
  line-height: 2em;
  text-align: center;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

address {
  font-style: normal;
}

/***** HEADER *****/

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  flex-basis: auto;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

header h3 {
  padding: 15px 0;
}

header nav {
  display: flex;
  font-weight: 500;
  font-size: 2.25em;
  text-transform: uppercase;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 70%;
  padding-bottom: 45px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
}

header nav ul li {
  display: flex;
  justify-content: space-between;
}

.hero-area {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background: url('../img/hero-background.png') center no-repeat #333;
  background-size: cover;
  min-height: 740px;
}

.hero-area .content-wrapper {
  width: 90%;
}

.hero-area h1 {
  font-family: 'Source Code Pro', monospace;
  font-size: 4.5em;
  font-weight: 600;
  text-align: left;
}

.hero-area h1 span {
  color: #fa0075;
}


/***** PORTFOLIO *****/

#portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

#portfolio .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 70%;
  margin: 50px 0;
}

#portfolio article {
  padding: 50px 0 60px 0;
  text-align: center;
}

#portfolio article figure img {
  border: 1px solid #b7b7b7;
}

#portfolio h2 {
  color: #fa0075;
  font-family: 'Source Code Pro', monospace;
  font-size: 3.25em;
  font-weight: 600;
  text-align: center;
}

#portfolio a {
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  font-size: 2em;
}

#portfolio .a-resource {
  font-weight: normal;
  font-size: 0.875em;
  line-height: 1.125em;
}

/***** ABOUT *****/

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #f2f2f2;
}

#about .content-wrapper {
  width: 85%;
  margin: 50px 0;
}

#about h3, #about p {
  color: #1f202b;
}

#about h3 {
  font-family: 'EB Garamond', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 3.25em;
}

/***** CONTACT *****/

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin: 50px 0;
}

#contact address {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

#contact h2 {
  color: #fa0075;
  font-family: 'Source Code Pro', monospace;
  font-size: 3.25em;
  font-weight: 600;
  text-align: center;
}

#contact a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.56em;
  text-align: center;
}

#contact p {
  background-color: #fa0075;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact i {
  font-size: 1.125em;
}


/***** FOOTER *****/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0 auto;
  clear: both;
	text-align: center;
  width: 100%;
}



/******************** END OF MOBILE STYLES ********************/

@media all and (min-width:768px) {
    /* TABLET styles here */

    #portfolio article figure {

    }

    #portfolio article figure img {
      /*border: 1px solid #b7b7b7;*/
    }



}

@media all and (min-width:1200px) {
    /* DESKTOP styles here */

}
